<!DOCTYPE html>
<html>
  <head>
    <title>mdns &#8212; <%= title %></title>
    <link rel="stylesheet" href="./stylesheets/mdns.css" type="text/css"/>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <ul id="navigation">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./user_guide.html">User Guide</a></li>
        </ul>
      </div>
      <div id="content">
        <%- body %>
      </div>
    </div>
    <a href="http://github.com/agnat/node_mdns"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/edc6dae7a1079163caf7f17c60495bbb6d027c93/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>
  </body>
</html>

